body
{
    background-size: cover;
}

.heading
{
    width: 100%;
    text-align: left;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.heading button{
    float: right;
    border: 1px solid pink;
}

.status
{
    font-size: 25px;
    color: black;
}

.button
{
    border: 1px 1px 1px solid white;
    font-size: 30px;
    font-weight: bold;
}

canvas{
    border: 1px 1px 1px solid white;
    border-radius: 20px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.copy_right_footer
{
    position: fixed;
    background: cornsilk;
    bottom: 0;
    width: 100%;
    line-height: 3;
    text-align: center;
}